.container{
    padding:40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.table{
    width: 80%;
}

.download-button{
    margin-top: 40px;
}